<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles.css" type="text/css"/>
  </head>
  <body>
    <div class=login>
      <h1>{{ title }}</h1>
    </div>
    <br/>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    <div class=login>
    {% if logged_in %}
      <form action="{{ url_for('logout') }}">
        <input type=submit value="Выйти" class="redbtn" />
      </form>
    {% endif %}
       <p>ⓒ <a href="mailto:pashawnn@gmail.com">Павел Шишмарёв</a>, 2018.</p>
    </div>
  </body>
</html>


