{% extends "base.html" %}
{% block body %}
<div class=blockcontainer>
  <div class=block>
    <h4>Загрузить задание</h4><br>
    <form action="{{ url_for('add') }}" method="get">
      <p><input type="submit" value="Добавить задание" /></p>
    </form>
  </div>
  <div class=block>
    <h4>Очередь заданий</h4>
    <ul>
      {% for t in tasks %}
        <div class="task {{ tasks[t].get_state() }}">
          <li><a href="{{ url_for('show_task', id=tasks[t].threadID) }}">Задание {{ tasks[t].threadID }}</a> {{ tasks[t].get_progress() }}% - {{ tasks[t].link }}</li>
        </div>
      {% endfor %}
    </ul>
  </div>
</div>
<br>
<script type="text/javascript">
        function autoRefreshPage()
            {
                console.log("autoRefreshPage()");
                location.reload(true);
            }
        setInterval('autoRefreshPage()', 5000);
</script>
{% endblock %}
